#header {
    text-align: center;
    background-color: brown;
    color: white;
    padding: 20px 0;
    margin: 0;
    transition: background-color 0.5s, color 0.5s;
}

.lightmode #header {
    background-color: #a0522d;
    color: white;
}
